@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Outfit:wght@100..900&display=swap');

body{
    background-color: hsl(300, 24%, 96%);
    font-family: "Outfit", serif;

}

main-container{
    margin: auto;
    width: 90vw;
    max-width: 1150px;
    background-color:hsl(0, 0%, 100%);
    flex-wrap: wrap; 

}

.top-side{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
}

.text h1{
    color:hsl(300, 43%, 22%) ;
    font-size: 56px;
    font-weight: 700;
    line-height: 48px;
   
}


.text p {
    font-weight: 500;
    color: hsl(303, 10%, 53%);
    font-size: 19px;
    padding-top: 25px;
    line-height: 25px;
    
}


.stars{
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0rem;
    padding: 0rem 2rem;
    width: 455px;
    height: 56px;

}

.stars-2{
    background-color: hsl(300, 24%, 96%);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0rem;
    padding: 0rem 2rem;
    width: 455px;
    height: 56px;
    margin-left:34px;
    
}

.stars-3{
    background-color: hsl(300, 24%, 96%);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0rem;
    padding: 0rem 2rem;
    width: 455px;
    height: 56px;
    margin-left:3rem;
    
}

.stars p{
    color: hsl(300, 43%, 22%) ;
    font-size: 17px;
    font-weight: 700;
}


.stars-2 p{
    color: hsl(300, 43%, 22%) ;
    font-size: 17px;
    font-weight: 700;
}

.stars-3 p{
    color: hsl(300, 43%, 22%) ;
    font-size: 17px;
    font-weight: 700;
}

.review-cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
}

.review-card{
    background-color:hsl(300, 43%, 22%) ;
    border-radius: 10px;
    width: 350px;
    height: 234px;
    padding: 1.5rem;
}

.avater-container{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}


.name{
    color:hsl(0, 0%, 100%);
    font-size: 17px;
    font-weight: 700;
}

.verified-buyer-text{
    color:hsl(333, 80%, 67%); 
    font-size: 17px;
    font-weight: 400;

}

.review-card-text{
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    padding-top: 2rem;
}

#review-card-2{
    margin-top: 2rem;
}

#review-card-3{
    margin-top: 4rem;
}

@media  screen and (max-height: 375){
    
    .review{
        height: 70px;
    }
    
    
    .review-cards{
        flex-direction: column;
        margin-top: 4rem;
    }
       
    }














